/***** IMPORTS *****/
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

/***** GENERAL *****/
/** Variables **/
:root{
    --clr-primary-pale-blue: #e0e8ff;
    --clr-primary-bright-blue: #3829e0;
    --clr-very-pale-blue: #f5f7ff;
    --clr-desaturated-blue: #7280a7;
    --clr-dark-blue: #1f2f56;
    --ff-primary: 'Red Hat Display', sans-serif;
}

/** Tags **/
body{
    margin: 0;
    font-family: var(--ff-primary);
    font-weight: 500;
    background-color: var(--clr-primary-pale-blue);
    background-image: url("../04_images/pattern-background-desktop.svg");
    background-repeat: no-repeat;
}

h2{
    font-weight: 900;
}

h3{
    font-weight: 700;
}

p{
    color: var(--clr-desaturated-blue);
}

/** Variables **/
/** Tags **/

/***** GRID *****/
/***** FLEX *****/
.container-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 95vh;

}

.flex-start{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.flex-column{
    display: flex;
    flex-direction: column;
    gap: 0;
}

.flex-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/***** STRUCTURE *****/
/** header **/
/** nav **/
/** main **/
/** footer **/

/***** ITEMS ******/
/** Card **/
.card{
    width: 380px;
    height: 590px;
    background-color: white;
    text-align: center;
    border-radius: 1rem;
}

.card a{
    color: var(--clr-primary-bright-blue);
}

.card a:hover{
    color: var(--clr-desaturated-blue);
    text-decoration: none;
    cursor: pointer;
}

.hero-img{
    max-width: 100%;
    height: auto;
    border-radius: 1rem 1rem 0 0;
}

.card-text{
    padding: 0 3rem;
}

.card-music{
    margin: 1rem 2rem 1rem 2rem;
    padding: 1rem;
    background-color: var(--clr-very-pale-blue);
    border-radius: 0.5rem;
}

.card-music p, h4{
    margin: 0.1rem;
}

.card-music img{
    width: 48px;
    height: 48px;
}

.button{
    padding: 1rem;
    margin: 0 2rem 2rem 2rem;
    border-radius: 0.5rem;
    color: white;
    background-color: var(--clr-primary-bright-blue);
    box-shadow: 0 20px 15px rgba(114, 128, 167, 0.25);
}

.button:hover{
    background-color: rgba(56, 41, 244, 0.75);
    cursor: pointer;
}

.cancel{
    color: black;
}

.cancel:hover{
    color: var(--clr-desaturated-blue);
    cursor: pointer;
}

/***** SITES *****/
/***** MEDIAQUERIES *****/
@media only screen and (max-width: 376px) {
    .card{
        width: 350px;
        height: 575px;
    }
}

/***** ANIMATIONS *****/
/***** OTHER *****/
.attribution{
    font-size: 11px;
    text-align: center;
}

.attribution a{
    color: hsl(228, 45%, 44%);
}